
<!-- Aqui usamos el grid de material para tener centradito nuestro spinner -->
<mat-grid-list cols="1" *ngIf=" !hero; else divHero">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divHero>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly" class="mi-container-detail">

        <div fxFlex="40">
            <h1>{{hero.superhero}} - <small>{{hero.alter_ego}}</small></h1>
            <mat-divider></mat-divider>
            <br>

            <img [src]="hero | image">
        </div>

        <div fxFlex="40">
            <h1>{{hero.publisher}}</h1>
            <mat-divider></mat-divider>
            <br>

            <mat-list>
                <mat-list-item>{{hero.first_appearance}}</mat-list-item>
                <mat-list-item>{{hero.characters}}</mat-list-item>
                <mat-list-item>{{hero.publisher}}</mat-list-item>
                <mat-list-item>{{hero.alter_ego}}</mat-list-item>
            </mat-list>

            <button mat-raised-button color="primary" (click)="back()">
                Back
            </button>
        </div>

    </div>
</ng-template>


